@font-face {
    font-family: DIN;
    src: url(assets/main_assets/D-DIN.woff2);
}

@font-face {
    font-family: DIN-BOLD;
    src: url(assets/main_assets/D-DIN-Bold.woff2)
}

.hdr {
    background-color: transparent;
    height: 40px;
    width: 100%;
}

.title_text {
    font-family: DIN;
    color: white;
    position: absolute;
    text-align: left;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
}

.page_title_text {
    font-family: DIN-BOLD;
    color: white;
    font-weight: 100;
    font-size: xx-large;
    -webkit-font-smoothing: antialiased;
}

.updates_image {
    text-align: center;
    padding-top: 70px;
}
.spacex_logo {
    height: 70%;
    padding-left: 520px;
    vertical-align: middle;
}

#vertical_updates {
    width: 1200px;
    height: 2px;
    background-color: rgb(190, 190, 190);
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
}

.date_text_1 {
    color: rgb(161, 161, 161);
    font-family: DIN-BOLD;
    font-size: larger;
    margin-left: 368px;
}

.updates_title {
    color: rgb(255, 255, 255);
    font-family: DIN-BOLD;
    font-size: xx-large;
    margin-left: 368px;
}

.updates_text {
    color: rgb(255, 255, 255);
    font-family: DIN;
    font-size: medium;
    margin-left: 368px;
    margin-right: 368px;
    line-height: 1.8;
}

p {
    margin: 25px;
}

.text {
    font-family: DIN;
    color: white;
    position: absolute;
    text-align: left;
    font-weight: 500;
    font-size: medium;
    -webkit-font-smoothing: antialiased;
}

.button_text {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 70%;
    cursor: pointer;
    font-family: DIN-BOLD;
}